In [2]:
for ss in ["brlcad", "carol", "ctags", "freecol", "jabref", "jedit"]:
    print("DROP DATABASE IF EXISTS cochange_"+ss+";")
    print("CREATE DATABASE IF NOT EXISTS cochange_"+ss+";")
    print("use cochange_"+ss+";")
    print("source D:/01_USASK/Research DB Backup/cochange/cochange_"+ss+".sql;")
    print()

DROP DATABASE IF EXISTS cochange_brlcad;
CREATE DATABASE IF NOT EXISTS cochange_brlcad;
use cochange_brlcad;
source D:/01_USASK/Research DB Backup/cochange/cochange_brlcad.sql;

DROP DATABASE IF EXISTS cochange_carol;
CREATE DATABASE IF NOT EXISTS cochange_carol;
use cochange_carol;
source D:/01_USASK/Research DB Backup/cochange/cochange_carol.sql;

DROP DATABASE IF EXISTS cochange_ctags;
CREATE DATABASE IF NOT EXISTS cochange_ctags;
use cochange_ctags;
source D:/01_USASK/Research DB Backup/cochange/cochange_ctags.sql;

DROP DATABASE IF EXISTS cochange_freecol;
CREATE DATABASE IF NOT EXISTS cochange_freecol;
use cochange_freecol;
source D:/01_USASK/Research DB Backup/cochange/cochange_freecol.sql;

DROP DATABASE IF EXISTS cochange_jabref;
CREATE DATABASE IF NOT EXISTS cochange_jabref;
use cochange_jabref;
source D:/01_USASK/Research DB Backup/cochange/cochange_jabref.sql;

DROP DATABASE IF EXISTS cochange_jedit;
CREATE DATABASE IF NOT EXISTS cochange_jedit;
use cochange_jedit;
source D:/01_USASK/Research DB Backup/cochange/cochange_jedit.sql;

In [3]:
#for ss in ["brlcad", "carol", "freecol", "jabref", "jedit"]:
for ss in ["ctags"]:
    for cd in ["deckard_2_0", "iclones", "nicad5", "simcad", "simian"]:
        print("RENAME TABLE `cochange_"+ss+"`.`cc_"+cd+"_merge` TO `cochange_"+ss+"`.`list_cc_"+cd+"`;")

RENAME TABLE `cochange_ctags`.`cc_deckard_2_0_merge` TO `cochange_ctags`.`list_cc_deckard_2_0`;
RENAME TABLE `cochange_ctags`.`cc_iclones_merge` TO `cochange_ctags`.`list_cc_iclones`;
RENAME TABLE `cochange_ctags`.`cc_nicad5_merge` TO `cochange_ctags`.`list_cc_nicad5`;
RENAME TABLE `cochange_ctags`.`cc_simcad_merge` TO `cochange_ctags`.`list_cc_simcad`;
RENAME TABLE `cochange_ctags`.`cc_simian_merge` TO `cochange_ctags`.`list_cc_simian`;

In [8]:
for cd in ["conqat", "deckard_2_0", "iclones", "nicad5", "simcad", "simian"]:
    #print("RENAME TABLE `list_"+cd+"` TO `list_cc_"+cd+"`;")
    print("SELECT MAX(length(`list_cochange`)), MAX(length(`list_used_clones`)), MAX(length(`list_total_clone`)) FROM `list_cc_"+cd+"`;")

SELECT MAX(length(`list_cochange`)), MAX(length(`list_used_clones`)), MAX(length(`list_total_clone`)) FROM `list_cc_conqat`;
SELECT MAX(length(`list_cochange`)), MAX(length(`list_used_clones`)), MAX(length(`list_total_clone`)) FROM `list_cc_deckard_2_0`;
SELECT MAX(length(`list_cochange`)), MAX(length(`list_used_clones`)), MAX(length(`list_total_clone`)) FROM `list_cc_iclones`;
SELECT MAX(length(`list_cochange`)), MAX(length(`list_used_clones`)), MAX(length(`list_total_clone`)) FROM `list_cc_nicad5`;
SELECT MAX(length(`list_cochange`)), MAX(length(`list_used_clones`)), MAX(length(`list_total_clone`)) FROM `list_cc_simcad`;
SELECT MAX(length(`list_cochange`)), MAX(length(`list_used_clones`)), MAX(length(`list_total_clone`)) FROM `list_cc_simian`;

In [11]:
for cd in ["conqat", "deckard_2_0", "iclones", "nicad5", "simcad", "simian"]:
    #print("ALTER TABLE `list_cc_"+cd+"` CHANGE `list_total_clone` `list_total_clone` VARCHAR(10000) DEFAULT NULL;")
    print("ALTER TABLE `list_cc_"+cd+"` CHANGE `list_cochange` `list_cochange` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_used_clones` `list_used_clones` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_total_clone` `list_total_clone` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL;")
    print()

ALTER TABLE `list_cc_conqat` CHANGE `list_cochange` `list_cochange` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_used_clones` `list_used_clones` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_total_clone` `list_total_clone` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL;

ALTER TABLE `list_cc_deckard_2_0` CHANGE `list_cochange` `list_cochange` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_used_clones` `list_used_clones` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_total_clone` `list_total_clone` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL;

ALTER TABLE `list_cc_iclones` CHANGE `list_cochange` `list_cochange` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_used_clones` `list_used_clones` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_total_clone` `list_total_clone` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL;

ALTER TABLE `list_cc_nicad5` CHANGE `list_cochange` `list_cochange` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_used_clones` `list_used_clones` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_total_clone` `list_total_clone` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL;

ALTER TABLE `list_cc_simcad` CHANGE `list_cochange` `list_cochange` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_used_clones` `list_used_clones` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_total_clone` `list_total_clone` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL;

ALTER TABLE `list_cc_simian` CHANGE `list_cochange` `list_cochange` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_used_clones` `list_used_clones` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL, CHANGE `list_total_clone` `list_total_clone` LONGTEXT CHARACTER SET latin1 COLLATE latin1_swedish_ci NULL DEFAULT NULL;